@model Tompany.Web.ViewModels.Trips.TripCreateInputModel;
@{
    this.ViewData["Title"] = "Create Trip";
    var cars = Model.Cars.Select(x => new SelectListItem(x.CarBrandName, x.Id.ToString()));
    var destinations = Model.Destinations.Select(x => new SelectListItem(x.Name, x.Name));
}

@if (cars.Count() == 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        За да създадете обява е нужно да имате регистрирана кола, можете да го направите от <a class="alert-link" asp-controller="Cars" asp-action="Create">тук</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="row justify-content-center">
    <form id="tripCreateForm" class="mb-0" enctype="multipart/form-data" asp-area="" asp-controller="Trips" asp-action="Create" method="post">
        <h5>Създаване на нова обява</h5>
        <hr />
        <div class="form-group">
            <label asp-for="FromDestinationName"></label>
            <select asp-for="FromDestinationName" asp-items="destinations" class="form-control col-md-12">
                <option selected="" disabled="">--Тръгвам от--</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="ToDestinationName"></label>
            <select asp-for="ToDestinationName" asp-items="destinations" class="form-control col-md-12">
                <option selected="" disabled="">--Пътувам до--</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="DateAsString"></label>
            <input asp-for="DateOfDeparture" class="form-control col-md-12" />
            <span asp-validation-for="DateOfDeparture" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PricePerPassenger"></label>
            <input asp-for="PricePerPassenger" class="form-control col-md-12" />
            <span asp-validation-for="PricePerPassenger" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AdditionalInformation"></label>
            <input asp-for="AdditionalInformation" class="form-control col-md-12" />
            <span asp-validation-for="AdditionalInformation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CarId"></label>
            <select asp-for="CarId" asp-items="cars" class="form-control col-md-12">
                <option selected="" disabled="">--Избери автомобил--</option>
            </select>
            <span asp-validation-for="CarId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-success">Създай обявата</button>
    </form>
</div>

