<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Вече сте изпратили заявка за присъединяване към тази обява!</h4>
    <p>Всеки потребител има право да изпраща само една заявка към конкретна обява.</p>
    <hr>
    <p class="mb-0">Благодаря, че избрахте Tompany, за да пътувате с нас. Може да погледнете всички други обяви <a class="alert-link" asp-controller="Trips" asp-action="Index"><strong>тук</strong></a></p>
</div>