@{
    ViewData["Title"] = "Request successfully sent.";
}

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Заявката Ви беше изпратена успешно до собственика на обявата!</h4>
        <p>Веднага щом заявката бъде обработена ще бъдете уведомени </p>
        <hr>
        <p class="mb-0">Благодаря че пътувате с нас!</p>
    </div>