<div class="alert alert-success alert-dismissible fade show" role="alert">
    <h2>Благодаря, че се свързахте с нас!</h2>
    <h3>Веднага щом съобщението Ви бъде обработено ще получите отговор на посочения ймейл.</h3>
</div>
